body {
    background-color: #1e1e1e;
    
}

section {
    background-color: #1e1e1e;
}

#projects {
    background-color: #242424;
}

h1, h2, h3, h4, h5, h6 {
    color: #c1c1c1;
}

p {
    color: #c1c1c1;
}

button,
button:focus,
button:active {
    border:1px solid #c1c1c1;
}

button span {
    color: #c1c1c1;
}

.code-attribute {
    color: #ce9178!important;
}

input, textarea {
    color: #ce9178;
}

::placeholder {
    color: #ce9178;
}