html {
    font-size: 11pt;
}
    @media screen and (min-width: 360px) {
        html {
            font-size: 13pt;
        }
    }

    @media screen and (min-width: 992px) {
        html {
            font-size: 16pt;
        }
    }


body {
    background-color: #FFFFFF;
    font-family: "Roboto Mono", Helvetica, Arial, sans-serif;
    font-size: 100%;
    margin: 0;
}

.wrapper {
    display: flex;
    height: 100vh;
    overflow-y: hidden;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    width: 100vw;
}

section {
    align-items: baseline;
    display: flex;
    flex: 0 0 100%;
    position: relative;
    scroll-snap-align: center;
}
    section#main {
        background-color: #e9e9e9;

    }

    section#skills {
        align-items: flex-end;
        background-color: #eeeeee;
    }
    
    section#projects {
        align-items: flex-end;
        background-color: #e9e9e9;
    }

    section#contact {
        background-color: #eeeeee;
    }

    @media screen and (min-width: 992px) {
        section {
            align-items: center;
        }
    }

section .container {
    display: flex;
    flex-direction: column;
    height: calc(100% - 60px);
    margin: 0 auto;
    max-width: 700px;
    opacity: 0;
    position: relative;
    transform: translateX(-70px);
    transition: all 100ms 100ms;
    padding: 0 11%;
    justify-content: space-evenly;
}
@media screen and (min-width: 992px) {
    section .container {
            transition: all 400ms cubic-bezier(0.860, 0.000, 0.070, 1.000);
            height: 60%;
        }
    }

    section.reverted .container {
        transform: translateX(70px);
    }

    section.active .container {
        opacity: 1;
        transform: translateX(0);
    }
    
    section#main .container {
        text-align: right;
        align-items: flex-end;
    }
        section#main .container > * {
            margin: 0;
        }

    section#skills .container {
        max-width: initial;
        padding: 0;
        height: 100%;
    }
        @media screen and (min-width: 992px) {
            section#skills .container {
                height: 90%;
                /* flex-direction: column-reverse; */
                justify-content: space-between;
                padding: 0;
            }
        }

        section#skills .container h2 {
            display: none;
            margin-bottom: 1.25rem;
            padding-right: 2rem;
            text-align: right;
        }

        section#skills .container .content {
            overflow: auto;
            padding: 2rem 1.5rem;
            flex-grow: 1;
        }
            @media screen and (min-width: 992px) {
                section#skills .container .content {
                    padding: 0 10%;
                }
            }

        section#skills .container li {
            flex: 1 1 1px;
            position: relative;
            margin-bottom: .7rem;
        }
        
        section#skills .container .text {
            /* max-height: 225px; */
            overflow: hidden;
            text-align: left;
            padding: 0 1.2rem;
        }
            @media screen and (min-width: 992px) {
                section#skills .container .text {
                    text-align: left;
                }
            }

            section#skills .container .text h3 {
                margin-bottom: 0.6rem;
                font-size: 1.25rem;
            }
            @media screen and (min-width: 992px) {
                section#skills .container .text h3 {
                        font-size: 1.1rem;
                    }
                }

            section#skills .container .text p {
                margin-top: 0;
                font-size: .9rem;
            }
                @media screen and (min-width: 992px) {
                    section#skills .container .text p {
                        font-size: .8rem;
                    }
                }

        section#projects .container {
            width: 100%;
            padding: 0;
            height: 100%;
            max-width: 1200px;
        }
            @media screen and (min-width: 992px) {
                section#projects .container {
                    height: 90%;
                    justify-content: space-between;
                    padding: 0 1rem;
                }
            }
    
            section#projects .container h2 {
                padding-top: 2rem;
                margin-bottom: 1.2rem;
                text-align: center;
            }
                @media screen and (min-width: 992px) {
                    section#projects .container h2 {
                        padding-top: 0;
                        text-align: left;
                    }
                }
            
            section#projects .container .content {
                overflow: auto;
                padding: 0 1.5rem;
            }

            section#projects .container ul {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
            }
    
            section#projects .container li {
                /* border: 1px #a5a5a5 solid; */
                filter: drop-shadow(2px 2px 8px rgba(0,0,0,.3));
                flex: 1 1 11rem;
                position: relative;
                margin: 1rem;
                height: 12rem;
                display: flex;
                align-items: center;
                justify-content: center;
                overflow: hidden;
                transition: all 200ms cubic-bezier(0.680, -0.550, 0.265, 1.550); 
            }

            section#projects .container li h3 {
                width: 100%;
                line-height: 2;
                text-align: center;
                /* bottom: 0; */
                /* background-color: #dddddd; */
                font-weight: 500;
                font-size: .7rem;
                margin: 0;
                filter: drop-shadow(2px 2px 1px rgba(0,0,0,.5));
                opacity: 0;
                transition: all 200ms cubic-bezier(0.680, -0.550, 0.265, 1.550); 
                pointer-events: none;
                position: absolute;
                color: #fff;
                text-transform: uppercase;
            }

            section#projects .container li .img {
                width: 100%;
                transition: all 300ms cubic-bezier(0.680, -0.550, 0.265, 1.550); 
                position: relative;
                display: flex;
                justify-content: center;
                align-content: center;
            } 

            section#projects .container li img {
                filter: saturate(70%);
                width: 270%;
            }

            section#projects .container li .img:after {
                content: "";
                background-color: rgba(0, 0, 0, .5);
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                z-index: 1;
                opacity: 0;
            }

            section#projects .container li:hover {
                transform: scale(1.05,1.05);
            }

            section#projects .container li:hover .img {
                transform: scale(1.2,1.2);
            }
            
            section#projects .container li:hover .img img {
                filter: saturate(130%);
            }

            section#projects .container li:hover h3 {
                opacity: 1;
            }

            section#projects .container .img:hover:after {
                opacity: 1;
            }
                


            
    
    section#contact .container {
        text-align: center;
    }
    @media screen and (min-width: 992px) {
        section#contact .container {
            height: 70%;
        }
    }
        section#contact .container h2 {
            padding-top: 2rem;
        }
        section#contact .container .content {
            display: flex;
            flex-direction: column;
            flex-grow: 1;
            justify-content: space-around;
        }
            section#contact .container .content > * {
                margin: 0;
            }

p {
    color: #484848;
    font-weight: 400;
    line-height: 1.8;
}
    @media screen and (min-width: 992px) {
        p {
            font-weight: 300;
        }
    }

    section#main p {
        font-size: 1.1rem;
        line-height: 1.7;
    }
        @media screen and (min-width: 992px) {
            section#main p {
                font-size: 1.2rem;
                line-height: 1.6;
            }
        }


section#main h1 {
    line-height: 1.1;
}
    

em {
    font-style: normal;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
    ul.social li {
        display: inline-block;
    }

h1, h2, h3, h4, h5, h6 {
    color: #404040;
    font-weight: 500;
    line-height: 1;
    margin: 0 0 1rem;;
}
    @media screen and (min-width: 992px) {
        h1, h2, h3, h4, h5, h6 {
            font-weight: 400;   
        }
    }

h1 {
    font-size: 2.75rem;
}

h2 {
    font-size: 2.1rem;
}

label {
    color: #666666;
    float: left;
    font-size: 0.7rem;
    font-weight: 400;
    left: 0;
    top: 0.95rem;
    padding-left: 0.3rem;
    position: relative;
}

input, textarea {
    background: none;
    border: 1px solid #aaaaaa;
    border-radius: 0.25rem;
    color: #222222;
    font-size: 0.825rem;
    font-weight: 400;
    line-height: 1;
    margin: 1.25rem 0 0;
    outline:none;
    padding: 0.5rem 0.75rem;
    width: calc(100% - 1.75rem);
}

::placeholder {
    color: #484848;
    opacity: 1;
    font-size: 0.825rem;
}

textarea {
    height: 5.5rem;
    resize: none;
    width: calc(100% - 1.75rem);
}

a {
    color: #484848;
    text-decoration: none;
}

button,
button:focus,
button:active,
input[type=submit] {
    background:none;
    border:1px solid #666666;
    border-radius: 0.25rem;
    font-weight: 500;
    height: 2.8rem;
    line-height: 2.6rem;
    margin-top: 0.625rem;
    outline:none;
    overflow: hidden;
    padding: 0;
    position: relative;
    width: 10rem;
}
    button a {
        transition: all 300ms cubic-bezier(0.860, 0.000, 0.070, 1.000);
        left: 0;
        height: 100%;
        position: absolute;
        top: 0;
        width: 100%;
    }
        button a:before {
            content: attr(data-content);
        }

        button a:after {
            content: attr(data-content);
            color: #dedede;
            background-color: #505050;
            height: 102%;
            left: 0;
            position: absolute;
            top: 100%;
            width: 102%;
            font-weight: 500;
        }
            button a:hover {
                transform: translateY(-100%);
            }

button a,
input[type=submit] {
    color: #505050;
    font-size: 0.8rem;
    font-weight: 500;
    text-transform: uppercase;
}

input[type=submit] {
    margin-top: 1.875rem;
}

button.icon {
    border:1px solid #aaaaaa;
    border-radius: 50%;
    width: 2.5rem;
    height: 2.5rem;
    line-height: 2.3rem;
    margin: 0 0.33rem;
    transition: all 200ms cubic-bezier(0.680, -0.550, 0.265, 1.550); 
}
    @media screen and (min-width: 992px) {
        button.icon {
            width: 2rem;
            height: 2rem;
            line-height: 1.95rem;
            margin: 0 0.1rem;
        }
    }

    button.icon a {
        transition: all 200ms 50ms cubic-bezier(0.680, -0.550, 0.265, 1.550); 
    }

    button.icon:hover {
        transform: scale(1.07,1.07);
    }

    button.icon a:hover {
        transform: initial;
        color: #dedede;
        background-color: #555555;
        transform: scale(1.12,1.12);
    }

    button.icon a:before,
    button.icon a:after {
        font-size: 1rem;
        font-family: 'Font Awesome 5 Free';
    }   
        @media screen and (min-width: 992px) {
            button.icon a:before,
            button.icon a:after {
                font-size: 0.85rem;
            }
        }

        button.icon a.brands:before,
        button.icon a.brands:after {
            font-family: 'Font Awesome 5 Brands';
        }

    button.icon span {
        opacity: 0;
    }
    
.social {
    position: relative;
    z-index: 1;
}   
    @media screen and (min-width: 992px) {
        .social {
            position: fixed;
            right: 1rem;
            top: 0.5rem;
            z-index: 1;
        }
    }
    
.desktop-only {
    display: none;
}
    @media screen and (min-width: 992px) {
        .mobile-only {
            display: none;
        }
        .desktop-only {
            display: block;
        }
    }

.center {
    text-align: center;
}
    

.code-tag-wrapper {
    color: #999999;
}

.spacer {
    height: 2rem;
}