@import url("fontawesome-all.min.css");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400");

body {
    background-color: #FFFFFF;
    font-family: "Roboto Mono", Helvetica, Arial, sans-serif;
    font-size: 100%;
}

.social {
    margin-top: 30px;
    z-index: 1;
}   
    @media screen and (min-width: 992px) {
        .social {
            margin-top: 0;
            position: fixed;
            right: 1rem;
            top: 0.5rem;
            z-index: 1;
        }
    }

.wrapper {
    display: flex;
    width: 300vw;
}

p {
    color: #333333;
    font-weight: 300;
    line-height: 1.6;
}

em {
    font-style: normal;
}

a {
    color: #333333;
    display: block;
    font-weight: 400;
    left: 0;
    height: 100%;
    position: absolute;
    top: 0;
    text-decoration: none;
    width: 100%;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
    ul li {
        display: inline-block;
    }

.center {
    text-align: center;
}

section {
    align-items: center;
    background-color: #ffffff;
    display: flex;
    height: 100vh;
    position: relative;
    width: 100vw;
}

.container {
    margin: 0 auto;
    max-width: 680px;
    text-align: right;
    width: 84vw;
}

#projects {
    background-color: #f4f4f4;
}

#contact .container {
    text-align: center;
}

h1, h2, h3, h4, h5, h6 {
    color: #333333;
    font-weight: 300;
    margin: 0;
}

h1 {
    font-size: 3rem;
    margin-bottom: 0.3rem;
}

h2 {
    margin-bottom: 0.313rem;
    font-size: 1.95rem;
}
    @media screen and (min-width: 992px) {
        #projects h2 {
            position: absolute; 
            right: 10vw;
            bottom: 6.25rem;
        }
    }

#main p {
    font-size: 1.05rem;
    margin-top: 0.625rem;
}

label {
    font-size: 1px;
    line-height: 1;
    position: absolute;
    top: -10000px;
}

input, textarea {
    background: none;
    border:1px solid #aaaaaa;
    border-radius: 0.25rem;
    color: #333333;
    font-size: 0.825rem;
    font-weight: 300;
    line-height: 1;
    margin: 1.25rem 0 0;
    outline:none;
    padding: 0.5rem 0.75rem;
    width: calc(100% - 1.75rem);
}

::placeholder {
    color: #333333;
    opacity: 1;
    font-size: 0.825rem;
}

textarea {
    height: 5.5rem;
    resize: none;
    width: calc(100% - 1.75rem);
}


button,
button:focus,
button:active,
input[type=submit] {
    background:none;
    border:1px solid #aaaaaa;
    border-radius: 0.25rem;
    color: #333333;
    font-weight: 400;
    outline:none;
    position: relative;
}

button,
input[type=submit] {
    font-size: 0.95rem;
    height: 2.5rem;
    line-height: 2.25rem;
    margin-top: 0.625rem;
    padding: 0;
    width: 10rem;
}

input[type=submit] {
    margin-top: 1.875rem;
    border:1px solid #aaaaaa;
}

.full-width {
    width: 100%;
}

button.icon {
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    line-height: 1.7rem;
}
    .icon:before {
        -moz-osx-font-smoothing: grayscale;
        -webkit-font-smoothing: antialiased;
        color: #606060;
        display: inline-block;
        font-family: 'Font Awesome 5 Free';
        font-style: normal;
        font-size: 0.75rem;
        font-variant: normal;
        font-weight: 400;
        text-rendering: auto;
        text-transform: none !important;
    }
        .icon.brands:before {
            font-family: 'Font Awesome 5 Brands';
        }

    button.icon span {
        position: relative;
        top: -10000px;
    }

html {
    font-size: 13pt;
}

    @media screen and (min-width: 992px) {
        html {
            font-size: 16pt;
        }
    }
