@import url("fontawesome-all.min.css");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;500");

html {
    font-size: 11pt;
}
    @media screen and (min-width: 360px) {
        html {
            font-size: 13pt;
        }
    }

    @media screen and (min-width: 992px) {
        html {
            font-size: 16pt;
        }
    }


body {
    background-color: #FFFFFF;
    font-family: "Roboto Mono", Helvetica, Arial, sans-serif;
    font-size: 100%;
    margin: 0;
}

.wrapper {
    display: flex;
    height: 100vh;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    width: 100vw;
}

section {
    align-items: baseline;
    background-color: #ffffff;
    display: flex;
    flex: 0 0 100%;
    position: relative;
    scroll-snap-align: center;
}
    section#skills,
    section#contact {
        background-color: #f4f4f4;
    }

    @media screen and (min-width: 992px) {
        section {
            align-items: center;
        }
    }

section .container {
    display: flex;
    flex-direction: column;
    filter: blur(.3rem);
    height: calc(100% - 60px);
    margin: 0 auto;
    max-width: 700px;
    opacity: 0;
    position: relative;
    text-align: center;
    transform: translateX(-70px);
    transition: all 400ms 50ms cubic-bezier(0.860, 0.000, 0.070, 1.000);
    width: 75%;
}
section.reverted .container {
    transform: translateX(70px);
}
    @media screen and (min-width: 992px) {
        section .container {
            height: 60%;
        }
    }

    section#main .container
    {
        text-align: right;
        align-items: flex-end;
        justify-content: space-evenly;
    }

    section#contact .container
    {
        justify-content: space-evenly;
    }
        section#main .container > *,
        section#contact .container > * {
            margin: 0;
        }

    section#skills .container,
    section#projects .container {
        width: 100%;
        min-height: 80%;
        max-width: initial;
    }
        @media screen and (min-width: 992px) {
            section#skills .container,
            section#projects .container {
                justify-content: flex-end;
                text-align: right;
            }

            section#skills .container h2,
            section#projects .container h2 {
                padding-right: 50px
            }
        }
    
    section.active .container {
        filter: blur(0);
        opacity: 1;
        transform: translateX(0);
    }

p {
    color: #484848;
    font-weight: 400;
}
    @media screen and (min-width: 992px) {
        p {
            font-weight: 300;
        }
    }

em {
    font-style: normal;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
    ul li {
        display: inline-block;
    }

.center {
    text-align: center;
}

h1, h2, h3, h4, h5, h6 {
    color: #404040;
    font-weight: 500;
    line-height: 1;
}
    @media screen and (min-width: 992px) {
        h1, h2, h3, h4, h5, h6 {
            font-weight: 400;   
        }
    }

h1 {
    font-size: 3rem;
    margin-bottom: 0.3rem;
}

h2 {
    font-size: 2.4rem;
}

#main p {
    font-size: 1.05rem;
    line-height: 1.6;
}

#contact h2 {
    font-size: 30px;
}

label {
    color: #404040;
    position: relative;
    top: 15px;
    left: 0;
    font-size: 13px;
    float: left;
    padding-left: 5px;
}

input, textarea {
    background: none;
    border:1px solid #aaaaaa;
    border-radius: 0.25rem;
    color: #222222;
    font-size: 0.825rem;
    font-weight: 400;
    line-height: 1;
    margin: 1.25rem 0 0;
    outline:none;
    padding: 0.5rem 0.75rem;
    width: calc(100% - 1.75rem);
}

::placeholder {
    color: #484848;
    opacity: 1;
    font-size: 0.825rem;
}

textarea {
    height: 5.5rem;
    resize: none;
    width: calc(100% - 1.75rem);
}

a {
    color: #484848;
    text-decoration: none;
}

button,
button:focus,
button:active,
input[type=submit] {
    background:none;
    border:1px solid #aaaaaa;
    border-radius: 0.25rem;
    line-height: 2.3rem;
    height: 2.5rem;
    margin-top: 0.625rem;
    outline:none;
    overflow: hidden;
    padding: 0;
    position: relative;
    width: 10rem;
}
    button a {
        transition: all 300ms cubic-bezier(0.860, 0.000, 0.070, 1.000);
        left: 0;
        height: 102%;
        position: absolute;
        top: 0;
        width: 100%;
    }
        button a:before {
            content: attr(data-content);
        }

        button a:after {
            content: attr(data-content);
            color: #dedede;
            background-color: #404040;
            height: 100%;
            left: 0;
            position: absolute;
            top: 100%;
            width: 100%;
            font-weight: 400;
        }
            button a:hover {
                transform: translateY(-100%);
            }

button a,
input[type=submit] {
    color: #404040;
    font-size: 0.8rem;
    font-weight: 500;
    text-transform: uppercase;
}

input[type=submit] {
    margin-top: 1.875rem;
}

button.icon {
    border-radius: 50%;
    width: 2.5rem;
    height: 2.5rem;
    line-height: 2.3rem;
    margin: 0 0.33rem;
}
    @media screen and (min-width: 992px) {
        button.icon {
            width: 2rem;
            height: 2rem;
            line-height: 1.95rem;
            margin: 0 0.1rem;
        }
    }

    button.icon a {
        transition: all 200ms cubic-bezier(0.550, 0.055, 0.675, 0.190);
    }

    button.icon a:hover {
        transform: initial;
        color: #dedede;
        background-color: #404040;
    }

    button.icon a:before,
    button.icon a:after {
        font-size: 1rem;
        font-family: 'Font Awesome 5 Free';
    }   
        @media screen and (min-width: 992px) {
            button.icon a:before,
            button.icon a:after {
                font-size: 0.85rem;
            }
        }

        button.icon a.brands:before,
        button.icon a.brands:after {
            font-family: 'Font Awesome 5 Brands';
        }

    button.icon span {
        opacity: 0;
    }
    
.social {
    position: relative;
    z-index: 1;
}   
    @media screen and (min-width: 992px) {
        .social {
            position: fixed;
            right: 1rem;
            top: 0.5rem;
            z-index: 1;
        }
    }

    
.desktop-only {
    display: none;
}
    @media screen and (min-width: 992px) {
        .mobile-only {
            display: none;
        }
        .desktop-only {
            display: block;
        }
    }
