   
/* ================================================================
                            general
================================================================ */

html {
    font-size: 11pt;
}
    @media screen and (min-width: 360px) {
        html {
            font-size: 13pt;
        }
    }

    @media screen and (min-width: 768px) {
        html {
            font-size: 16pt;
        }
    }

body {
    font-family: "Roboto Mono", Helvetica, Arial, sans-serif;
    font-size: 100%;
    margin: 0;
}

.wrapper {
    display: flex;
    height: 100vh;
    overflow-y: hidden;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    width: 100vw;
}

p {
    color: #484848;
    font-weight: 400;
    line-height: 1.8;
}
    @media screen and (min-width: 768px) {
        p {
            font-weight: 300;
        }
    }

em {
    font-style: normal;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
    ul.social li {
        display: inline-block;
    }

h1, h2, h3, h4, h5, h6 {
    color: #404040;
    font-weight: 500;
    line-height: 1;
    margin: 0 0 1rem;;
}
    @media screen and (min-width: 768px) {
        h1, h2, h3, h4, h5, h6 {
            font-weight: 400;   
        }
    }

h1 {
    font-size: 2.75rem;
}

h2 {
    font-size: 1.8rem;
}

label {
    color: #666666;
    float: left;
    font-size: 0.7rem;
    font-weight: 400;
    left: 0;
    top: 0.95rem;
    padding-left: 0.3rem;
    position: relative;
}

input, textarea {
    background: none;
    border: 1px solid #aaaaaa;
    border-radius: 0.25rem;
    color: #222222;
    font-size: 0.825rem;
    font-weight: 400;
    line-height: 1;
    margin: 1.25rem 0 0;
    outline:none;
    padding: 0.5rem 0.75rem;
    width: calc(100% - 1.75rem);
}

::placeholder {
    color: #484848;
    opacity: 1;
    font-size: 0.825rem;
}

textarea {
    height: 5.5rem;
    resize: none;
    width: calc(100% - 1.75rem);
}

a {
    color: #484848;
    text-decoration: none;
}

    
/* ================================================================
                            buttons
================================================================ */

button,
button:focus,
button:active,
input[type=submit] {
    border-radius: 0.25rem;
    font-weight: 500;
    height: 2.8rem;
    line-height: 2.6rem;
    margin-top: 0.625rem;
    outline:none;
    overflow: hidden;
    padding: 0;
    position: relative;
    width: 10rem;
}
    button a {
        transition: all 300ms cubic-bezier(0.860, 0.000, 0.070, 1.000);
        left: 0;
        height: 100%;
        position: absolute;
        top: 0;
        width: 100%;
    }
        button a:before {
            content: attr(data-content);
        }

        button a:after {
            content: attr(data-content);
            height: 100%;
            left: 0;
            position: absolute;
            top: 100%;
            width: 100%;
            font-weight: 500;
        }
            button a:hover {
                transform: translateY(-100%);
            }

button a,
input[type=submit] {
    font-size: .9rem;
    font-weight: 500;
    text-transform: uppercase;
}

input[type=submit] {
    margin-top: 1.875rem;
}

button.icon {
    border-radius: 50%;
    width: 2.5rem;
    height: 2.5rem;
    line-height: 2.3rem;
    margin: 0 0.33rem;
    transition: all 200ms cubic-bezier(0.680, -0.550, 0.265, 1.550); 
}
    @media screen and (min-width: 768px) {
        button.icon {
            width: 2rem;
            height: 2rem;
            line-height: 1.95rem;
            margin: 0 0.1rem;
        }
    }

    button.icon a:after {
        background: none!important;
    }

    button.icon a {
        font-size: 0.8rem;
        transition: all 100ms cubic-bezier(0.680, -0.550, 0.265, 1.550); 
    }

    button.icon .material,
    button.icon [class^="icon-"], 
    button.icon [class*=" icon-"] {
        font-size: 1rem;
        line-height: inherit;
    }

    button.icon:hover {
        transform: scale(1.07,1.07);
    }

    button.icon:hover a {
        transform: initial;
        transform: scale(1.12,1.12) translateY(0.02rem);        
    }
   
    button.icon span {
        position: absolute;
        font-size: 0;
    }


    
/* ================================================================
                            .sections
================================================================ */

.section {
    display: flex;
    flex: 0 0 100%;
    position: relative;
    scroll-snap-align: start;
    transition: all 150ms;
}
    .section#experience {
        align-items: flex-end;
    }
    
    .section#projects {
        align-items: flex-end;
    }
    
    @media screen and (min-width: 768px) {
        .section {
            align-items: center;
        }
    }

/* ================================================================
                            containers
================================================================ */


.section .container {
    display: flex;
    flex-direction: column;
    height: calc(100% - 45px);
    margin: 0 auto;
    max-width: 700px;
    opacity: 0;
    position: relative;
    transition: all 200ms;
    padding: 0 11%;
    justify-content: space-evenly;
}
    @media screen and (min-width: 768px) {
        .section .container {
            transform: translateX(40px);
            transition: all 300ms 150ms cubic-bezier(0.860, 0.000, 0.070, 1.000);
            height: 60%;
        }
        .section.reverted .container {
            transform: translateX(-40px);
        }
    }

    .section.active .container {
        opacity: 1;
        transform: translateX(0);
    }
    

/* ================================================================
                            home
================================================================ */

    .section#home .container {
        text-align: left;
    }
        @media screen and (min-width: 768px) {
            .section#home .container {
                text-align: right;
                align-items: flex-end;
            }
        }
    
    .section#home .container > * {
        margin: 0;
    }

    .section#home p {
        font-size: 1.1rem;
        line-height: 1.7;
    }
        @media screen and (min-width: 768px) {
            .section#home p {
                font-size: 1.2rem;
                line-height: 1.6;
            }
        }
    
    .section#home .container h1 {
        line-height: 1.1;
        margin-top: 3rem;
    }
        


/* ================================================================
                            experience
================================================================ */

    .section#experience .container {
        max-width: initial;
        padding: 0;
        height: 100%;
    }
        .section#experience .container h2 {
            display: none;
            margin-bottom: 1.25rem;
            padding-right: 2rem;
            text-align: right;
        }

        .section#experience .container .content {
            overflow: auto;
            padding: 4.45rem 1.3rem;
            flex-grow: 1;
        }

        @media screen and (min-width: 768px) {
            .section#experience .container {
                height: 90%;
                justify-content: space-between;
                padding: 0;
            }
                .section#experience .container .content {
                    padding: 0 10%;
                }
        }

        .section#experience .container li {
            flex: 1 1 1px;
            position: relative;
            margin-bottom: .7rem;
        }
        
        .section#experience .container .text {
            overflow: hidden;
            text-align: left;
            padding: 0;
        }
            .section#experience .container .text h3 {
                margin-bottom: 0.6rem;
                font-size: 1.15rem;
            }

            .section#experience .container .text p {
                margin-top: 0;
                font-size: .9rem;
            }

            @media screen and (min-width: 768px) {
                .section#experience .container .text {
                    text-align: left;
                }
                    .section#experience .container .text p {
                        font-size: .8rem;
                    }
                    .section#experience .container .text h3 {
                        font-size: 1.1rem;
                    }
            }

/* ================================================================
                            projects
================================================================ */
                
        .section#projects .container {
            width: 100%;
            padding: 0;
            height: 100%;
            max-width: initial;
            justify-content: flex-start;
        }
            .section#projects .container h2 {
                padding: 4.45rem 0 0;
                margin-bottom: 1.2rem;
                text-align: center;
            }

            @media screen and (min-width: 768px) {
                .section#projects .container {
                    height: 90%;
                }
                    .section#projects .container h2 {
                        padding: 0 0 0 4rem;
                        text-align: left;
                    }
            }
            
            .section#projects .container .content {
                overflow: auto;
                padding: 1.5rem 0;
                width: 100%;
                flex-grow: 1;
            }
            
            .section#projects .container ul {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                margin: 0 auto;
                width: 92%;
                max-width: 1200px;
            }
    
            .section#projects .container li {
                flex: 0 0 15em;
                position: relative;
                margin: .5rem;
                height: 11rem;
                display: flex;
                align-items: center;
                justify-content: center;
                overflow: hidden;
                transition: all 200ms cubic-bezier(0.680, -0.550, 0.265, 1.550); 
            }
                @media screen and (min-width: 768px) {
                    .section#projects .container li {
                        margin: .4rem;
                    }
                }

            .section#projects .container li h3 {
                width: 100%;
                line-height: 2;
                text-align: center;
                font-weight: 400;
                font-size: .8rem;
                margin: 0;
                opacity: 0;
                transition: all 500ms cubic-bezier(0.680, -0.550, 0.265, 1.550); 
                pointer-events: none;
                position: absolute;
                transform: translateY(10px);
            }
                .section#projects .container li img {
                    filter: saturate(.3);
                    opacity: .7;
                    height: 100%;
                    transition: all 300ms cubic-bezier(0.680, -0.550, 0.265, 1.550); 
                    position: absolute;
                    top: 0;
                    left: 0;
                }
                   
                .section#projects .container li:hover{
                    transform: scale(1.03,1.03);
                }
                    .section#projects .container li:hover img {
                        transform: scale(1.03,1.03);
                        filter: saturate(1.2);
                        opacity: .3;
                    }

                    .section#projects .container li:hover h3 {
                        opacity: 1;
                        transform: translateY(0);
                    }

            
/* ================================================================
                            contact
================================================================ */
 
    .section#contact .container {
        text-align: center;
        justify-content: flex-start;
    }
        .section#contact .container h2 {
            padding-top: 4.45rem;
        }
        @media screen and (min-width: 768px) {
            .section#contact .container {
                height: 70%;
            }
            .section#contact .container h2 {
                padding-top: 0;
            }
        }
        .section#contact .container .content {
            display: flex;
            flex-direction: column;
            flex-grow: 1;
            justify-content: space-between;
        }

/* ================================================================
                            helpers
================================================================ */

.desktop-only {
    display: none;
}
    @media screen and (min-width: 768px) {
        .mobile-only {
            display: none;
        }
        .desktop-only {
            display: block;
        }
    }

.center {
    text-align: center;
}
    

.code-tag-wrapper {
    color: #999999;
}

.spacer {
    height: 4rem;
}


    
/* ================================================================
                            menu
================================================================ */

menu {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 3rem;
    margin: 0;
    padding: 0;
    z-index: 1;
}

.menu {
    position: absolute;
    z-index: 2;
    width: 100%;
    top: 0;
    bottom: 0;
}
    @media screen and (min-width: 768px) {
        .menu {
            width: auto;
        }
    }

    .menu li,
    .menu li .menu-icon {
        height: 100%;
    }

    .menu .side-menu-button {
        float: left;
        margin-left: .8rem;
    }
        .menu .side-menu-button button {
            font-size: 2rem;
        }

    .menu .themes-button {
        float: right;
        margin-right: .8rem;
    }
        .menu .themes-button button {
            font-size: 1.3rem;
        }
        @media screen and (min-width: 768px) {
            .menu .themes-button {
                float: left;
                margin-left: .9rem;
            }
        }

    .menu .menu-icon {
        background: none;
        border: 0;
        cursor: pointer;
        margin: 0;
        width: auto;
    }

.side-menu {
    position: absolute;
    z-index: 3;
    top: 0;
    left: 0;
}
    .side-menu .overlay {
        position: absolute;
        width: 100vw;
        height: 100vh;
        top: 0;
        left: 0;
        transform: translateX(-100vw);
        transition: opacity 300ms cubic-bezier(0.860, 0.000, 0.070, 1.000);
        opacity: 0;
    }

    .side-menu ul {
        transform: translateX(-15rem);
        transition: all 300ms cubic-bezier(0.860, 0.000, 0.070, 1.000);
        height: 100vh;
        width: 12.7rem;
        top: 0;
        left: 0;
        position: absolute;
    }
        .side-menu.active ul {
            transform: translateX(0);
        }

        .side-menu.active .overlay {
            transform: translateY(0);
            opacity: 1;
        }

        .side-menu ul li {
            margin-top: 1rem;
            margin-left: 2.2rem;
        }
            .side-menu ul li:first-child {
                margin-top: 4rem;
            }

        .side-menu a {
            font-size: 1.2rem;
            margin-left: .5rem;
            line-height: 1;
        }

.social {
    position: relative;
    z-index: 1;
}   
    @media screen and (min-width: 768px) {
        .social {
            position: fixed;
            right: 1rem;
            top: 0.5rem;
        }
    }
    
.mt20 {
    margin-top: 20px;
}