body {
    background-color: #eeeeee;
}

/* White colors */
.section#home {
    background-color: #eeeeee;
}

.section#experience {
    background-color: #dfdfe4;
    
}

.section#projects {
    background-color: #eeeeee;
}

.section#contact {
    background-color: #dfdfe4;
}

button, textarea, input {
    border: 1px #aaaaaa solid;
}

button, button a, textarea, input {
    color: #505050;
    background-color: #dcdcde;
}

button.icon, button.icon a {
    background: none;
}

button a::after {
    background-color: #4f4f51;
    color: #dedede;
}

button.icon a:hover {
    background-color: #5c5c5e;
    color: #dedede;
}

h1, h2, h3 {
    color: #569cd6;
}

menu {
    background-color: #b9b9be;
}

.menu .menu-icon {
    color: #4b4b4d;
}


.side-menu ul li.active {
    border-left: 4px #569cd6 solid;
}

.side-menu a {
    color: #484848;
}

.side-menu ul {
    background-color: #d7d7e0;
}

.side-menu .overlay {
    background-color: rgba(21, 21, 24, 0.2);
}

/* ================================================================
                            dark theme 
================================================================ */

body.dark {
    background-color: #1c1a1a;
}

.dark .section#home {
    background-color: #1c1a1a;

}

.dark .section#experience {
    background-color: #222121;

}

.dark .section#projects {
    background-color: #1c1a1a;

}

.dark .section#contact {
    background-color: #222121;

}

.dark p, .dark input, .dark label, .dark button.icon a {
    color: #dadada;
}

.dark h1, .dark h2, .dark h3 {
    color: #676767;
}

.dark button {
    border: 1px #dadada solid;
}


.dark button a, .dark textarea, .dark input {
    color: #dadada;
    background-color: rgba(37,32,32,1);
}

.dark button a::after,
.dark button.icon a:hover {
    background-color: rgba(55,50,50,1);
}

.dark h1, .dark h2, .dark h3 {
    color: #c58c74;
}

.dark .section#projects .container li img {
    filter: none;
}

.dark .section#projects .container li:hover img {
    filter: brightness(.4);
}

.dark menu {
    background-color: #373739;
}

.dark .menu .menu-icon {
    color: #ededed;
}


.dark .side-menu ul li.active {
    border-left: 4px #c58c74 solid;
}

.dark .side-menu a {
    color: #dadada;
}

.dark .side-menu ul {
    background-color: #1f1d1d;
}

.dark .side-menu .overlay {
    background-color: rgba(0, 0, 0, .3);
}

@media screen and (min-width: 992px) {
    .dark menu,
    menu {
        background: none;
    }
}