/* White colors */
button.icon {
    background:none;
}


h1, h2, h3 {
    color: #569cd6;
}

button.icon a {
    /* color: #569cd6; */
}

button.icon a:hover {
    /* background-color: #569cd6; */
}

/* ================================================================
                            dark theme 
================================================================ */



.dark section#main {
    background-color: #303031;

}

.dark section#skills {
    background-color: #272728;

}

.dark section#projects {
    background-color: #303031;

}

.dark section#contact {
    background-color: #272728;

}

.dark p, .dark input, .dark label, .dark button.icon a {
    color: #dadada;
}

.dark h1, .dark h2, .dark h3 {
    color: #676767;
}

.dark button {
    border: 1px #dadada solid;
}


.dark button a, .dark textarea, .dark input {
    color: #dadada;
    background-color: rgba(27,27,28,.2);
}



.dark h1, .dark h2, .dark h3 {
    color: #c58c74;
}

.dark section#projects .container li img {
    filter: none;
}

.dark section#projects .container li:hover img {
    filter: brightness(.5);
}



    
/* ================================================================
                            themes button
================================================================ */



.themes {
    position: absolute;
    z-index: 1;
    /* right: .6rem; */
}

.themes button.icon {
    border: 0;
    margin-top: .8rem;
    margin-left: .9rem;
    width: 1rem;
    height: 1rem;
    cursor: pointer;
    background-color: #cccccc;
    line-height: 1;
    color: #535353;
}
    @media screen and (min-width: 992px) {
        .themes {
            right: initial;
        }

        .themes button.icon {
            width: 1rem;
            height: 1rem;
        }
    }

.themes button.icon.dark {
    background-color: #656565;
    color: #ededed;
}

.themes {
    display: none;
}
    @media screen and (min-width: 992px) {
        .themes {
            display: block;
        }
    }